@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
  }

:root {
    --grey: darkslategray; 
    --white: #ffffff; 
}

body {
    font: inherit; 
    font-family: 'Roboto', sans-serif;
    margin: 0; 
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 16px;
      line-height: 130%;
    }
  }


.button {
    padding: 12px;
    width: 100%;
    max-width: 200px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    background-color: rgb(121, 25, 116);
    font-weight: 400;
}

.button:hover, button:focus {
    background-color: rgba(121, 25, 116, 0.8);
    cursor: pointer;
}

