.nav {
    display: grid;
    grid-template-columns: repeat( auto-fit, 1fr );
    grid-auto-flow: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.nav__item {
    color: var(--grey);
    text-decoration: none;
}

.footer {
    width: 100%;
    margin: 10px 0 0 0;
    background-color: rgba(2, 10, 4, 0.5);
    padding: 20px 10px 40px 10px;
    color: var(--white);
    text-align: center;
    font-weight: 300;
}

.footer__heading {
    font-size: 20px;
    padding: 10px;
}