
.quiz_wrapper {
    display: grid;
    margin: 5px 10px; 
    max-width: 800px;
    justify-self: center;
}

.quiz_item_container {
    display: grid;
    gap: 20px;
}

.quiz__paragraph {
    font-weight: 700;
    color: var(--grey);
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.quiz__question {
    font-weight: bold;
    color: var(--grey);
}

.quiz__btn-wrapper {
    justify-self: center;
    margin-top: 35px;
}

.quiz__answers {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 7px; 
    align-content: center;
}

.answer {
    margin-right: 10px;
}

.correct {
    color: rgb(5, 95, 5);
}

.wrong {
    color: rgb(110, 9, 9)
}

.quiz__results {
    padding: 15px 0 10px 0;
    text-align: center;
    font-size: 18px;
    color: var(--grey);
}

@media only screen and (max-width: 600px) {
    .quiz__paragraph {
      font-size: 16px;
      line-height: 120%;
    }
    .quiz__results{
        font-size: 16px;
    }
  }